MONGO_URI=mongodb+srv://<username>:<password>@cluster0.zn0siim.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET='will be given in personal message to backend dev'
PORT=3000

# development enviroment url
FRONTEND_URL='https://jobconnect-xi-snowy.vercel.app//'

# AI ATS Features
GROQ_API_KEY=your_groq_api_key_here

# GST API Integration
GST_DATA_FETCH=your_GST_DATA_FETCH_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret