MONGO_URI=mongodb+srv://<username>:<password>@cluster0.zn0siim.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET='will be given in personal message to backend dev'
PORT=3000

# development enviroment url
FRONTEND_URL='http://localhost:5173/'